.textOne {
  position: absolute;
  margin-top: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: black;
}

.textTwo {
  position: absolute;
  margin-top: 2%;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 70px;
  text-transform: uppercase;
  color: #FFFFFF;
}