.MuiPaper-root .MuiCard-root .makeStyles-root-13 .MuiPaper-elevation1 .MuiPaper-rounded {
    &:hover {
        transform: translateY(-20px);
        box-shadow: 5px 10px #888888;
        transition: .2s;
    }
}